/* ---- LAYOUT ----- */

* {
 margin: 0;
 padding: 0;
 }

html, body, #container {  
height: 100%; 
margin: 0; 
padding: 0; 
color: #333333;
xbackground: #F7F7F7;
background: url("../images/bg_body_home.jpg") repeat-x #fff;
}

body > #container { 
height: auto; 
min-height: 100%; 
}

h2 {
	font-family: 'Russo One',sans-serif;
    font-size: 33px;
    margin: 30px 0 0;
    text-align: center;
 }
 
 h5 {
	font-family: 'Russo One',sans-serif;
    font-size: 23px;
    margin: 20px 0 20px 90px;
    xtext-align: center;
 }
 
  h6 {
	font-family: 'Russo One',sans-serif;
    font-size: 14px;
	margin: 0 0 0 20px;
 }
 
 

 a { 
  outline: none;
  }

.clearfix {
	clear: both;
	}
	
	
#main {
	margin: 0px auto 20px auto;
    overflow: hidden;
    text-align: left;
    width: 980px;
	xbackground: #fff;
	x-moz-border-radius: 5px;
	xborder-radius: 5px;
	x-moz-box-shadow: 0 10px 13px 5px #000;
    x-webkit-box-shadow: 0 10px 13px 5px #000;
    xbox-shadow: 0 10px 13px 5px #000;
	x*+border: 1.5px solid #000;
	x*border: 1.5px solid #000;
}	

/* ------- HEADER & NAV ------ */	

  
#head {
width: 980px;
margin: 0 auto;
height: 146px;
float: left;
}

#logo {
	float: left;
    margin: 0px 0 0 5px;
	padding-top: 30px;
    width: 539px;
}

#logo span  img{
	margin: 5px 0 0 0;
}
#nav {
    margin: 0;
    top: 0;
}

#nav ul {
	margin: 0 0 0 9px;
    padding: 25px 0 0;
	}
	
#nav ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 20px 0 0;
 }
 
#nav ul li a {
    color: #fff;
    text-decoration: none;
 }
 
 #nav ul li a:hover {
    color: #c1e6f1;
    text-decoration: underline;
    text-shadow: 0px;
 }
  
 /* ------- CONTENT SECTION LEFT --- */	

#content {
	background: none repeat scroll 0 0 #AAADB5;
    border-radius: 5px 5px 5px 5px;
    margin: 37px 0 0 295px;
    padding: 10px 10px 90px 10px;
    width: 427px;
 }
 
 #content p {
	font-family: 'Russo One',sans-serif;
    font-size: 23px;
    margin: 20px 0 0;
    padding: 0 20px;
 
 }
 
 
 #content2 {
	text-align: center;
 }
 
 #content2 p {
	font-family: 'Russo One',sans-serif;
    font-size: 23px;
    margin: 40px 0 0;
    xpadding: 0 20px;
 
 }
 
  #content2 input {
	float: left;
	margin: 40px 0 20px 0;
	padding: 5px;
	border-radius: 5px;
 }
 
 
 
   /* ------- fix --- */	
 
 .fix-left {
   margin: 0 165px 0 120px; 
   padding: 0; 
   width: 316px; 
   float: left;
 } 
 
  .fix-left input {
	margin: 0px 0 0px 0;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #cacaca;
	}
 
  .fix-left-a {
   margin: 0; 
   padding: 0; 
   width: 330px; 
   float: left;
 } 
 
 .fix-left-a input {
	margin: 0px 0 0px 0;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #cacaca;
	}
 
  .fix-left2 {
   margin: 0; 
   padding: 0; 
   width: 157px; 
   float: left;
 } 
 
  .fix-left2 p {
   margin: 0 0 0 20px;
   
 } 
  
  

	
/* ------- FOOTER ------ */	
	
	#footer { 
	clear: both; 
	position: relative; 
	z-index: 10; 
	height: 3em;
	padding-bottom: 30px;
	margin-top: -3em; 
	}
	
	#foot {
	height: 3em;
    line-height: 1.1em;
    margin: 0 0 0 0;
    padding: 0 10px;
    width: 980px;
	}
	
	#foot #left {
    float: left;
    padding-left: 70px;
    width: 500px;
	padding-top: 8px;
}

#foot #right {
    float: left;
    padding-right: 30px;
}

#foot #right div {
    margin-top: 27px;
	margin-right: 3px;
	color: #051C3B;
	font-weight: bold;
	font-family: 'Droid Sans',Arial,sans-serif;
	font-size: 13px;
	float: left;
}

#foot #right img {
    margin-top: 10px;
	margin-right: 23px;
}
	
	#foot ul {
	position: relative;
	}
	
	#foot ul li {
	float: left;
    list-style: none outside none;
    margin-left: 36px;
    padding: 0 1px;
    position: relative;
    text-decoration: none;
	}

	#foot ul li a{
	font-size: 13px;
	color: #051C3B;
	font-weight: bold;
	font-family: 'Droid Sans',Arial,sans-serif;
	text-decoration: none;
	}		
	
	#foot ul li  a:hover{
   text-decoration: underline;
	}	

#left-footer {
    float: left;
    padding-left: 100px;
    width: 466px;
   }
   
#left-footer ul li {
    list-style-type: none;
    padding: 20px 40px 10px 0;
	float: left;
}	

#left-footer ul li  a{
   font-size: 13px;
   color: #051C3B;
   font-weight: bold;
   font-family: 'Droid Sans',Arial,sans-serif;
   font-size: 13px;
   text-decoration: none;
}

#left-footer ul li  a:hover{
   text-decoration: underline;
}

#left-footer-interior {
    float: left;
    padding-left: 100px;
    width: 600px;
   }
   
#left-footer-interior ul li {
    list-style-type: none;
    padding: 20px 40px 10px 0;
	float: left;
}	

#left-footer-interior ul li  a{
   font-size: 13px;
   color: #051C3B;
   font-weight: bold;
   font-family: 'Droid Sans',Arial,sans-serif;
   font-size: 13px;
   text-decoration: none;
}

#left-footer-interior ul li  a:hover{
   text-decoration: underline;
}
	
   
#right-footer {
	width: 300px;
	float: left;
	}
	
#footer span {
    font-size: 13px;
   color: #051C3B;
   font-weight: bold;
   font-family: 'Droid Sans',Arial,sans-serif;
    margin-top: 25px;	
	float: left;
	padding-right: 12px;
	display: block;
	}
	
#footer img {
		float: left; 
		margin: 10px 0;
		}

